body {
    font-family: 'GmarketSans';
    -ms-overflow-style: none;
    height: 100vh;
    background: #000;
}

::-webkit-scrollbar {
    display: none;
}

.fixed {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.scroll {
    position: fixed;
    right: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    background: rgba(160, 160, 160, 0.3);
    text-align: center;
    line-height: 50px;
    color: #fff;
    border-radius: 50%;
    z-index: 10000;
}

/* 메인 페이지 1번 */
#mainPage1 {
    position: relative;
    font-family: 'GmarketSans';
    width: 1920px;
    height: 8902px;
    z-index: 3;
}

#mainPage1 .container {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0%;
    top: 0%;
    background: #000;
    z-index: 10000;
}

#mainPage1 .container .page1 {
    position: fixed;
}

#mainPage1 .container .page1 span {
    position: fixed;
    left: 10vh;
    top: 5.8vh;
    font-size: 4vh;
    color: #fff;
    font-weight: 900;
}

#mainPage1 .container .page1 h2 {
    position: fixed;
    color: #fff;
    font-size: 42.6vh;
    font-weight: 300;
    top: 3.7vh;
    left: 41vh;
}

#mainPage1 .container .page1 h3 {
    position: fixed;
    color: #fff;
    font-size: 42.6vh;
    font-weight: 900;
    top: 49.3vh;
    left: 112.5vh;
}

#mainPage1 .container .page1 .page01 {
    position: fixed;
    width: 42vh;
    height: 42vh;
    left: 47.5vh;
    top: 54vh;
}

#mainPage1 .container .page1 .page02 {
    position: fixed;
    width: 60vh;
    height: 71vh;
    left: 203vh;
    top: 7vh;
}

#mainPage1 .container .page1 .page03 {
    position: fixed;
    width: 61.5vh;
    height: 61.5vh;
    top: 17vh;
    left: 322.5vh;
}

#mainPage1 .container .page2 {
    position: fixed;
}

#mainPage1 .container .page2 .page2Main {
    position: fixed;
    width: 63.8vh;
    height: 84vh;
    top: 10.6vh;
    left: 470vh;
}

#mainPage1 .container .page2 h3 {
    position: fixed;
    color: #fff;
    font-size: 42.6vh;
    font-weight: 900;
    top: 49.3vh;
    left: 502vh;
}

#mainPage1 .container .page2 .pages1 h1 {
    position: fixed;
    text-align: justify;
    font-size: 3vh;
    color: #fff;
    width: 72.7vh;
    top: 9.7vh;
    left: 570.5vh;
}

#mainPage1 .container .page2 .pages1 p {
    position: fixed;
    text-align: justify;
    font-size: 2.6vh;
    font-weight: 300;
    line-height: 1.9;
    color: #fff;
    width: 72.7vh;
    top: 22vh;
    left: 570.5vh;
}

#mainPage1 .container .page2 .pages2 h1 {
    position: fixed;
    text-align: justify;
    font-size: 3vh;
    color: #fff;
    width: 73.5vh;
    top: 9.7vh;
    left: 661vh;
}

#mainPage1 .container .page2 .pages2 p {
    position: fixed;
    text-align: justify;
    font-size: 2.6vh;
    font-weight: 300;
    color: #fff;
    width: 73.5vh;
    top: 22vh;
    left: 661vh;
}

#mainPage1 .container .page3 {
    position: fixed;
    width: 206vh;
    height: 105.7vh;
    background: #fff;
    left: 758vh;
}

.page3De {
    position: fixed;
    left: 765vh;
    top: 22vh;
    font-size: 32.5vh;
    font-weight: 900;
}

.page3Ve {
    position: fixed;
    left: 815vh;
    top: 22vh;
    font-size: 32.5vh;
    font-weight: 900;
}

.page3Lop {
    position: fixed;
    left: 860vh;
    top: 22vh;
    font-size: 32.5vh;
    font-weight: 900;
}

.page3Er {
    position: fixed;
    left: 917.8vh;
    top: 22vh;
    font-size: 32.5vh;
    font-weight: 900;
}

/* section1 끝 */

/* mainPage2 시작 */
#mainPage2 {
    position: relative;
    font-family: 'GmarketSans';
    width: 1920px;
    height: 990px;
    z-index: 2;
}

#mainPage2 .container2 {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(../img/WallBg.svg);
    background-size: cover;
}

#mainPage2 .container2 .mainPage2Img1 {
    position: fixed;
    width: 53vh;
    height: 69.5vh;
    left: 5%;
    top: 10%;
    background-image: url(../img/mainPages01.svg);
    background-size: cover;
    z-index: 3;
}

#mainPage2 .container2 .mainPage2Img2 {
    position: fixed;
    width: 53vh;
    height: 69.5vh;
    left: 38%;
    top: 10%;
    background-image: url(../img/mainPages02.svg);
    background-size: cover;
    z-index: 2;
}

#mainPage2 .container2 .mainPage2Img3 {
    position: fixed;
    width: 53vh;
    height: 69.5vh;
    left: 70%;
    top: 10%;
    background-image: url(../img/mainPages03.svg);
    background-size: cover;
    z-index: 1;
}

/* mainPage2 끝 */

/* mainPage3 시작 */
#mainPage3 {
    position: relative;
    width: 205vh;
    height: 135vh;
    background: #000;
    z-index: 1;
}

#mainPage3 .container3 {
    position: relative;
}

#mainPage3 .page3Img1 {
    position: fixed;
    width: 201vh;
    top: -193vh;
    left: 102.5vh;
}

/* page1G */
#mainPage3 .container3 h1 {
    position: fixed;
    font-size: 13.8vh;
    color: #fff;
    font-weight: 500;
    left: 32vh;
    top: -16vh;
}

#mainPage3 .container3 h4 {
    position: fixed;
    font-size: 12.8vh;
    color: #fff;
    font-weight: 300;
    left: 32vh;
    top: -1vh;
}

#mainPage3 .container3 hr {
    position: fixed;
    width: 205vh;
    top: 26.6vh;
}

#mainPage3 .container3 .page1G h1 {
    position: fixed;
    font-size: 48vh;
    font-weight: normal;
    top: 11.7vh;
    left: 41.6vh;
    color: #1C1C1C;
    font-family: 'KulimPark';
}

#mainPage3 .container3 .page1G h1 em {
    position: fixed;
    font-size: 48vh;
    font-weight: normal;
    top: 11.7vh;
    left: 10.6vh;
    color: #0B0B0B;
    font-family: 'KulimPark';
}

#mainPage3 .container3 .page1G h3 {
    position: fixed;
    font-size: 5.6vh;
    font-weight: 900;
    color: #fff;
    left: 32vh;
    top: 37vh;
}

#mainPage3 .container3 .page1G h2 {
    position: fixed;
    font-size: 5.6vh;
    font-weight: 500;
    color: #fff;
    left: 52vh;
    top: 43.7vh;
}

#mainPage3 .container3 .page1G p {
    position: fixed;
    text-align: justify;
    font-size: 2.4vh;
    width: 71.6vh;
    font-weight: 500;
    color: #fff;
    left: 103.5vh;
    top: 38.4vh;
    line-height: 1.8;
}

#mainPage3 .container3 .page1G .page1G1 {
    position: fixed;
    font-size: 1.6vh;
    color: #fff;
    width: 71.6vh;
    left: 103.5vh;
    top: 61.8vh;
    padding: 1vh;
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
}

#mainPage3 .container3 .page1G .page1G2 {
    position: fixed;
    font-size: 1.6vh;
    color: #fff;
    width: 71.6vh;
    left: 103.5vh;
    top: 66.7vh;
    padding: 1vh;
    border-bottom: solid 1px #fff;
}

#mainPage3 .container3 .page1G .page1G3 {
    position: fixed;
    font-size: 1.6vh;
    color: #fff;
    width: 71.6vh;
    left: 103.5vh;
    top: 71.5vh;
    padding: 1vh;
    border-bottom: solid 1px #fff;
}

#mainPage3 .container3 .page1G .page3GImg1 {
    position: fixed;
    left: 103.5vh;
    top: 82vh;
    width: 73.6vh;
}

/* page2G */
#mainPage3 .container3 .page2G hr {
    position: fixed;
    width: 205vh;
    top: 154.7vh;
}

#mainPage3 .container3 .page2G h1 {
    position: fixed;
    font-size: 48vh;
    font-weight: normal;
    top: 144vh;
    left: 159vh;
    color: #1C1C1C;
    font-family: 'KulimPark';
}

#mainPage3 .container3 .page2G h1 em {
    position: fixed;
    font-size: 48vh;
    font-weight: normal;
    top: 144vh;
    left: 128vh;
    color: #0B0B0B;
    font-family: 'KulimPark';
}

#mainPage3 .container3 .page2G h3 {
    position: fixed;
    font-size: 5.6vh;
    font-weight: 900;
    color: #fff;
    left: 131vh;
    top: 167.5vh;
}

#mainPage3 .container3 .page2G h2 {
    position: fixed;
    font-size: 5.6vh;
    font-weight: 500;
    color: #fff;
    left: 128vh;
    top: 174vh;
}

#mainPage3 .container3 .page2G p {
    position: fixed;
    text-align: justify;
    font-size: 2.5vh;
    width: 71.6vh;
    font-weight: 500;
    color: #fff;
    left: 32vh;
    top: 168vh;
    line-height: 1.8;
}

#mainPage3 .container3 .page2G .page2G1 {
    position: fixed;
    font-size: 1.6vh;
    color: #fff;
    width: 71.6vh;
    left: 32vh;
    top: 190vh;
    padding: 1vh;
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
}

#mainPage3 .container3 .page2G .page2G2 {
    position: fixed;
    font-size: 1.6vh;
    color: #fff;
    width: 71.6vh;
    left: 32vh;
    top: 194.7vh;
    padding: 1vh;
    border-bottom: solid 1px #fff;
}

#mainPage3 .container3 .page2G .page2G3 {
    position: fixed;
    font-size: 1.6vh;
    color: #fff;
    width: 71.6vh;
    left: 32vh;
    top: 199.5vh;
    padding: 1vh;
    border-bottom: solid 1px #fff;
}

#mainPage3 .container3 .page2G .page3GImg1 {
    position: fixed;
    left: 32vh;
    top: 211vh;
    width: 73.6vh;
}

/* page3G */
#mainPage3 .container3 .page3G hr {
    position: fixed;
    width: 205vh;
    top: 282.8vh;
}

#mainPage3 .container3 .page3G h1 {
    position: fixed;
    font-size: 48vh;
    font-weight: normal;
    top: 272vh;
    left: 41.6vh;
    color: #1C1C1C;
    font-family: 'KulimPark';
}

#mainPage3 .container3 .page3G h2 {
    position: fixed;
    font-size: 5.6vh;
    font-weight: 500;
    color: #fff;
    left: 43vh;
    top: 303vh;
}

#mainPage3 .container3 .page3G h1 em {
    position: fixed;
    font-size: 48vh;
    font-weight: normal;
    top: 272vh;
    left: 10.6vh;
    color: #0B0B0B;
    font-family: 'KulimPark';
}

#mainPage3 .container3 .page3G h3 {
    position: fixed;
    font-size: 5.6vh;
    font-weight: 900;
    color: #fff;
    left: 32vh;
    top: 297.7vh;
}


#mainPage3 .container3 .page3G p {
    position: fixed;
    text-align: justify;
    font-size: 2.4vh;
    width: 71.6vh;
    font-weight: 500;
    color: #fff;
    left: 103.5vh;
    top: 298.8vh;
    line-height: 1.8;
}

#mainPage3 .container3 .page3G .page3G1 {
    position: fixed;
    font-size: 1.6vh;
    color: #fff;
    width: 71.6vh;
    left: 103.5vh;
    top: 320vh;
    padding: 1vh;
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
}

#mainPage3 .container3 .page3G .page3G2 {
    position: fixed;
    font-size: 1.6vh;
    color: #fff;
    width: 71.6vh;
    left: 103.5vh;
    top: 324.9vh;
    padding: 1vh;
    border-bottom: solid 1px #fff;
}

#mainPage3 .container3 .page3G .page3G3 {
    position: fixed;
    font-size: 1.6vh;
    color: #fff;
    width: 71.6vh;
    left: 103.5vh;
    top: 329.7vh;
    padding: 1vh;
    border-bottom: solid 1px #fff;
}

#mainPage3 .container3 .page3G .page3GImg1 {
    position: fixed;
    left: 103.5vh;
    top: 342.5vh;
    width: 73.6vh;
}

/* page4G */
#mainPage3 .container3 .page4G hr {
    position: fixed;
    width: 205vh;
    top: 414vh;
}

#mainPage3 .container3 .page4G h1 {
    position: fixed;
    font-size: 48vh;
    font-weight: normal;
    top: 405.5vh;
    left: 159vh;
    color: #1C1C1C;
    font-family: 'KulimPark';
}

#mainPage3 .container3 .page4G h1 em {
    position: fixed;
    font-size: 48vh;
    font-weight: normal;
    top: 405.5vh;
    left: 128vh;
    color: #0B0B0B;
    font-family: 'KulimPark';
}

#mainPage3 .container3 .page4G h3 {
    position: fixed;
    font-size: 5.6vh;
    font-weight: 900;
    color: #fff;
    left: 131vh;
    top: 430vh;
}

#mainPage3 .container3 .page4G h2 {
    position: fixed;
    font-size: 5.6vh;
    font-weight: 500;
    color: #fff;
    left: 131vh;
    top: 436.4vh;
}

#mainPage3 .container3 .page4G p {
    position: fixed;
    text-align: justify;
    font-size: 2.4vh;
    width: 72vh;
    font-weight: 500;
    color: #fff;
    left: 32vh;
    top: 431vh;
    line-height: 1.8;
}

#mainPage3 .container3 .page4G .page4G1 {
    position: fixed;
    font-size: 1.6vh;
    color: #fff;
    width: 71.6vh;
    left: 32vh;
    top: 451vh;
    padding: 1vh;
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
}

#mainPage3 .container3 .page4G .page4G2 {
    position: fixed;
    font-size: 1.6vh;
    color: #fff;
    width: 71.6vh;
    left: 32vh;
    top: 456.7vh;
    padding: 1vh;
    border-bottom: solid 1px #fff;
}

#mainPage3 .container3 .page4G .page4G3 {
    position: fixed;
    font-size: 1.6vh;
    color: #fff;
    width: 71.6vh;
    left: 32vh;
    top: 462vh;
    padding: 1vh;
    border-bottom: solid 1px #fff;
}

#mainPage3 .container3 .page4G .page3GImg1 {
    position: fixed;
    left: 32vh;
    top: 476vh;
    width: 73.6vh;
}

/* page5G */
#mainPage3 .container3 .page5G hr {
    position: fixed;
    width: 205vh;
    top: 546vh;
}

#mainPage3 .container3 .page5G h1 {
    position: fixed;
    font-size: 48vh;
    font-weight: normal;
    top: 537.8vh;
    left: 41.6vh;
    color: #1C1C1C;
    font-family: 'KulimPark';
}

#mainPage3 .container3 .page5G h1 em {
    position: fixed;
    font-size: 48vh;
    font-weight: normal;
    top: 537.8vh;
    left: 10.6vh;
    color: #0B0B0B;
    font-family: 'KulimPark';
}

#mainPage3 .container3 .page5G h2 {
    position: fixed;
    font-size: 5.6vh;
    font-weight: 500;
    color: #fff;
    left: 32vh;
    top: 569.9vh;
}


#mainPage3 .container3 .page5G h3 {
    position: fixed;
    font-size: 5.6vh;
    font-weight: 900;
    color: #fff;
    left: 32vh;
    top: 563.5vh;
}

#mainPage3 .container3 .page5G p {
    position: fixed;
    text-align: justify;
    font-size: 2.4vh;
    width: 71.6vh;
    font-weight: 500;
    color: #fff;
    left: 103.5vh;
    top: 564vh;
    line-height: 1.8;
}

#mainPage3 .container3 .page5G .page5G1 {
    position: fixed;
    font-size: 1.6vh;
    color: #fff;
    width: 71.6vh;
    left: 103.5vh;
    top: 586.9vh;
    padding: 1vh;
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
}

#mainPage3 .container3 .page5G .page5G2 {
    position: fixed;
    font-size: 1.6vh;
    color: #fff;
    width: 71.6vh;
    left: 103.5vh;
    top: 592vh;
    padding: 1vh;
    border-bottom: solid 1px #fff;
}

#mainPage3 .container3 .page5G .page5G3 {
    position: fixed;
    font-size: 1.6vh;
    color: #fff;
    width: 71.6vh;
    left: 103.5vh;
    top: 597.6vh;
    padding: 1vh;
    border-bottom: solid 1px #fff;
}

#mainPage3 .container3 .page5G .page3GImg1 {
    position: fixed;
    left: 103.5vh;
    top: 613.6vh;
    width: 73.6vh;
}

/* page6 */
#mainPage3 .container3 .page6G hr {
    position: fixed;
    width: 205vh;
    top: 684vh;
}

#mainPage3 .container3 .page6G h1 {
    position: fixed;
    font-size: 48vh;
    font-weight: normal;
    top: 676.6vh;
    left: 159vh;
    color: #1C1C1C;
    font-family: 'KulimPark';
}

#mainPage3 .container3 .page6G h1 em {
    position: fixed;
    font-size: 48vh;
    font-weight: normal;
    top: 676.6vh;
    left: 128vh;
    color: #0B0B0B;
    font-family: 'KulimPark';
}

#mainPage3 .container3 .page6G h3 {
    position: fixed;
    font-size: 5.6vh;
    font-weight: 900;
    color: #fff;
    left: 131vh;
    top: 703vh;
}

#mainPage3 .container3 .page6G h2 {
    position: fixed;
    font-size: 5.6vh;
    font-weight: 500;
    color: #fff;
    left: 131vh;
    top: 709.7vh;
}

#mainPage3 .container3 .page6G p {
    position: fixed;
    text-align: justify;
    font-size: 2.4vh;
    width: 71vh;
    font-weight: 500;
    color: #fff;
    left: 32vh;
    top: 704vh;
    line-height: 1.8;
}

#mainPage3 .container3 .page6G .page6G1 {
    position: fixed;
    font-size: 1.6vh;
    color: #fff;
    width: 71.6vh;
    left: 32vh;
    top: 726.7vh;
    padding: 1vh;
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
}

#mainPage3 .container3 .page6G .page6G2 {
    position: fixed;
    font-size: 1.6vh;
    color: #fff;
    width: 71.6vh;
    left: 32vh;
    top: 731vh;
    padding: 1vh;
    border-bottom: solid 1px #fff;
}

#mainPage3 .container3 .page6G .page6G3 {
    position: fixed;
    font-size: 1.6vh;
    color: #fff;
    width: 71.6vh;
    left: 32vh;
    top: 736vh;
    padding: 1vh;
    border-bottom: solid 1px #fff;
}

#mainPage3 .container3 .page6G .page3GImg1 {
    position: fixed;
    left: 32vh;
    top: 753vh;
    width: 73vh;
}

/* page7G */
#mainPage3 .container3 .page7G hr {
    position: fixed;
    width: 205vh;
    top: 823.9vh;
}

#mainPage3 .container3 .page7G h1 {
    position: fixed;
    font-size: 48vh;
    font-weight: normal;
    top: 816vh;
    left: 41.6vh;
    color: #1C1C1C;
    font-family: 'KulimPark';
}

#mainPage3 .container3 .page7G h1 em {
    position: fixed;
    font-size: 48vh;
    font-weight: normal;
    top: 816vh;
    left: 10.6vh;
    color: #0B0B0B;
    font-family: 'KulimPark';
}

#mainPage3 .container3 .page7G h2 {
    position: fixed;
    font-size: 5.6vh;
    font-weight: 500;
    color: #fff;
    left: 32vh;
    top: 846.8vh;
}


#mainPage3 .container3 .page7G h3 {
    position: fixed;
    font-size: 5.6vh;
    font-weight: 900;
    color: #fff;
    left: 32vh;
    top: 839.9vh;
}

#mainPage3 .container3 .page7G p {
    position: fixed;
    text-align: justify;
    font-size: 2.4vh;
    width: 72vh;
    font-weight: 500;
    color: #fff;
    left: 103.5vh;
    top: 839.9vh;
    line-height: 1.8;
}

#mainPage3 .container3 .page7G .page7G1 {
    position: fixed;
    font-size: 1.6vh;
    color: #fff;
    width: 71.6vh;
    left: 103.5vh;
    top: 863vh;
    padding: 1vh;
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
}

#mainPage3 .container3 .page7G .page7G2 {
    position: fixed;
    font-size: 1.6vh;
    color: #fff;
    width: 71.6vh;
    left: 103.5vh;
    top: 868vh;
    padding: 1vh;
    border-bottom: solid 1px #fff;
}

#mainPage3 .container3 .page7G .page7G3 {
    position: fixed;
    font-size: 1.6vh;
    color: #fff;
    width: 71.6vh;
    left: 103.5vh;
    top: 872.9vh;
    padding: 1vh;
    border-bottom: solid 1px #fff;
}

#mainPage3 .container3 .page7G .page3GImg1 {
    position: fixed;
    left: 103.5vh;
    top: 889vh;
    width: 73.6vh;
}

/* 3메인 시작 */
#mainPage3 .container3 .page8G .studty {
    position: fixed;
    font-size: 14.5vh;
    font-weight: 500;
    top: 963.7vh;
    left: 64vh;
    color: #fff;
}

#mainPage3 .container3 .page8G .studty em {
    position: fixed;
    font-size: 14.5vh;
    font-weight: 900;
    top: 963.7vh;
    left: 53vh;
    color: #fff;
}

#mainPage3 .container3 .page8G .mainC01 {
    position: fixed;
    top: 966.9vh;
    left: 127vh;
    width: 18vh;
    height: 18vh;
}

#mainPage3 .container3 .page8G .webSite {
    position: fixed;
    font-size: 14.5vh;
    font-weight: 500;
    top: 985vh;
    left: 67vh;
    color: #fff;
}

#mainPage3 .container3 .page8G .webSite em {
    position: fixed;
    font-size: 14.5vh;
    font-weight: 900;
    top: 985vh;
    left: 53vh;
    color: #fff;
}

#mainPage3 .container3 .page8G .mainC02 {
    position: fixed;
    top: 987.7vh;
    left: 117vh;
    width: 18vh;
    height: 18vh;
}

#mainPage3 .container3 .page8G .ApiSite {
    position: fixed;
    font-size: 14.5vh;
    font-weight: 500;
    top: 1006vh;
    left: 64vh;
    color: #fff;
}

#mainPage3 .container3 .page8G .ApiSite em {
    position: fixed;
    font-size: 14.5vh;
    font-weight: 900;
    top: 1006vh;
    left: 53vh;
    color: #fff;
}

#mainPage3 .container3 .page8G .mainC03 {
    position: fixed;
    top: 1009.6vh;
    left: 108.8vh;
    width: 18vh;
    height: 18vh;
}

#mainPage3 .container3 .page8G .reactSite {
    position: fixed;
    font-size: 14.5vh;
    font-weight: 500;
    top: 1027.7vh;
    left: 64vh;
    color: #fff;
}

#mainPage3 .container3 .page8G .reactSite em {
    position: fixed;
    font-size: 14.5vh;
    font-weight: 900;
    top: 1027.7vh;
    left: 53vh;
    color: #fff;
}

#mainPage3 .container3 .page8G .mainC04 {
    position: fixed;
    top: 1030.9vh;
    left: 123.7vh;
    width: 18vh;
    height: 18vh;
}


#mainPage3 .container3 .page8G .teamProjeact {
    position: fixed;
    font-size: 14.5vh;
    font-weight: 500;
    top: 1048vh;
    left: 64vh;
    color: #fff;
}

#mainPage3 .container3 .page8G .teamProjeact em {
    position: fixed;
    font-size: 14.5vh;
    font-weight: 900;
    top: 1048vh;
    left: 53vh;
    color: #fff;
}

#mainPage3 .container3 .page8G .mainC05 {
    position: fixed;
    top: 1051vh;
    left: 155.8vh;
    width: 18vh;
    height: 18vh;
}

#mainPage3 .container3 .page8G h1 {
    position: fixed;
    font-size: 1.9vh;
    top: 1088.5vh;
}

#mainPage3 .container3 .page8G p {
    color: #fff;
    width: 102.5vh;
    left: 80vh;
    position: fixed;
    font-weight: 300;
    font-size: 1.9vh;
    top: 1088.5vh;
}

#mainPage3 .container3 .page8G hr {
    position: fixed;
    width: 204.9vh;
    top: 1107.7vh;
}

/* 페이지 9 */
#mainPage3 .container3 .page9G h1 {
    position: fixed;
    top: 1120.5vh;
    font-size: 4vh;
    font-weight: 300;
    color: #fff;
}

#mainPage3 .container3 .page9G h3 {
    position: fixed;
    color: #fff;
    top: 1119.5vh;
    left: 48vh;
    font-size: 5.6vh;
    font-weight: 300;
}

#mainPage3 .container3 .page9G .site01 {
    position: fixed;
    color: #fff;
    top: 1121.6vh;
    left: 109.9vh;
    font-size: 2.4vh;
    padding: 0.5vh;
    border-bottom: solid 1px #fff;
    width: 71.6vh;
}

#mainPage3 .container3 .page9G .site02 {
    position: fixed;
    color: #fff;
    top: 1126.4vh;
    left: 109.9vh;
    font-size: 2.4vh;
    border-bottom: solid 1px #fff;
    padding: 0.5vh;
    width: 71.6vh;
}

#mainPage3 .container3 .page9G .site03 {
    position: fixed;
    color: #fff;
    top: 1131vh;
    left: 109.9vh;
    font-size: 2.4vh;
    border-bottom: solid 1px #fff;
    padding: 0.5vh;
    width: 71.6vh;
}

#mainPage3 .container3 .page9G .site04 {
    position: fixed;
    color: #fff;
    top: 1136vh;
    left: 109.9vh;
    font-size: 2.4vh;
    border-bottom: solid 1px #fff;
    padding: 0.5vh;
    width: 71.6vh;
}

#mainPage3 .container3 .page9G .site05 {
    position: fixed;
    color: #fff;
    top: 1141vh;
    left: 109.9vh;
    font-size: 2.4vh;
    border-bottom: solid 1px #fff;
    padding: 0.5vh;
    width: 71.6vh;
}

#mainPage3 .container3 .page9G .site06 {
    position: fixed;
    color: #fff;
    top: 1146vh;
    left: 109.9vh;
    font-size: 2.4vh;
    border-bottom: solid 1px #fff;
    padding: 0.5vh;
    width: 71.6vh;
}

#mainPage3 .container3 .page9G h2 {
    position: fixed;
    color: #fff;
    top: 1159.5vh;
    left: 48vh;
    font-size: 5.6vh;
    font-weight: 300;
}

#mainPage3 .container3 .page9G .site07 {
    position: fixed;
    color: #fff;
    top: 1160vh;
    left: 109.9vh;
    font-size: 2.4vh;
    border-bottom: solid 1px #fff;
    padding: 0.5vh;
    width: 71.6vh;
}

#mainPage3 .container3 .page9G .site08 {
    position: fixed;
    color: #fff;
    top: 1165vh;
    left: 109.9vh;
    font-size: 2.4vh;
    border-bottom: solid 1px #fff;
    padding: 0.5vh;
    width: 71.6vh;
}

#mainPage3 .container3 .page9G .site09 {
    position: fixed;
    color: #fff;
    top: 1170vh;
    left: 109.9vh;
    font-size: 2.4vh;
    border-bottom: solid 1px #fff;
    padding: 0.5vh;
    width: 71.6vh;
}

#mainPage3 .container3 .page9G .site10 {
    position: fixed;
    color: #fff;
    top: 1175vh;
    left: 109.9vh;
    font-size: 2.4vh;
    border-bottom: solid 1px #fff;
    padding: 0.5vh;
    width: 71.6vh;
}

#mainPage3 .container3 .page9G .site11 {
    position: fixed;
    color: #fff;
    top: 1180vh;
    left: 109.9vh;
    font-size: 2.4vh;
    border-bottom: solid 1px #fff;
    padding: 0.5vh;
    width: 71.6vh;
}

#mainPage3 .container3 .page9G .linkImg01 {
    position: fixed;
    width: 20px;
    height: 20px;
    top: 1181vh;
    left: 1680px;
}

/* container4 */
#mainPage4{
    position: relative;
}

#mainPage4 .container4 {
    position: fixed;
    height: 790.5vh;
    width: 720vh;
    top: -30px;
    left: -50px;
    background: #D4D4D4;
}

#mainPage4 .container4 h1 {
    position: fixed;
    color: #000;
    font-weight: 900;
    font-size: 342px;
    left: 100px;
    top: 0px;
}

#mainPage4 .container4 h2 {
    position: fixed;
    color: #000;
    font-weight: 500;
    font-size: 342px;
    top: 445px;
    left: 1141px;
}

#mainPage4 .container4 .s4Img01 {
    position: fixed;
    left: 425px;
    top: 390px;
    width: 432px;
    height: 485px;
}

#mainPage4 .container4 .s4Img02 {
    position: fixed;
    left: 820px;
    top: 550px;
}

#mainPage4 .container4 .s4Img03 {
    position: fixed;
    width: 650px;
    left: 1890px;
    top: 210px;
    z-index: -1;
}

#mainPage4 .container4 .s4Img04 {
    position: fixed;
    width: 250px;
    left: 1770px;
    top: 180px;
}

#mainPage4 .container4 h3 {
    position: fixed;
    color: #000;
    font-weight: 900;
    font-size: 342px;
    top: 445px;
    left: 2600px;
}

#mainPage4 .container4 .s4G01 h1 {
    position: fixed;
    color: #000;
    font-size: 20px;
    font-weight: 900;
    top: 200px;
    left: 2610px;
}

#mainPage4 .container4 .s4G01 p {
    position: fixed;
    color: #000;
    font-size: 19px;
    width: 549px;
    font-weight: 500;
    top: 250px;
    left: 2610px;
}

#mainPage4 .container4 .s4G02 h1 {
    text-align: justify;
    position: fixed;
    color: #000;
    font-size: 20px;
    font-weight: 900;
    top: 200px;
    left: 3200px;
}

#mainPage4 .container4 .s4G02 p {
    text-align: justify;
    position: fixed;
    color: #000;
    font-size: 19px;
    width: 549px;
    font-weight: 500;
    top: 250px;
    left: 3200px;
}

#mainPage4 .container4 p {
    text-align: justify;
    position: fixed;
    color: #000;
    font-size: 19px;
    width: 549px;
    font-weight: 500;
    top: 250px;
    left: 3800px;
}

#mainPage4 .container4 h4 {
    position: fixed;
    color: #000;
    font-size: 342px;
    font-weight: 500;
    top: 50px;
    left: 4500px;
}

#mainPage4 .container4 .s4Img05 {
    position: fixed;
    top: 590px;
    left: 5900px;
}

#mainPage4 .container4 .s4Img06 {
    position: fixed;
    top: 590px;
    left: 6250px;
}

/* mainPage5 시작 */
#mainPage5 {
    position: relative;
    font-family: 'GmarketSans';
    width: 1920px;
    height: 990px;
}

#mainPage5 .container5 {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(../img/WallBg.svg);
    background-size: cover;
    z-index: -1;
}

#mainPage5 .container5 .mainPage2Img1 {
    position: fixed;
    width: 53vh;
    height: 69.5vh;
    left: 5%;
    top: 10%;
    background-image: url(../img/mainPages01.svg);
    background-size: cover;
    z-index: 2;
}

#mainPage5 .container5 .mainPage2Img2 {
    position: fixed;
    width: 53vh;
    height: 69.5vh;
    left: 37%;
    top: 10%;
    background-image: url(../img/mainPages02.svg);
    background-size: cover;
    z-index: 3;
}

#mainPage5 .container5 .mainPage2Img3 {
    position: fixed;
    width: 53vh;
    height: 69.5vh;
    left: 70%;
    top: 10%;
    background-image: url(../img/mainPages03.svg);
    background-size: cover;
    z-index: 1;
}

/* mainPage6 시작 */
#mainPage6 {
    position: relative;
    width: 1920px;
    height: 7750px;
}

#mainPage6 .container6 {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #5A4630;
}

#mainPage6 .container6 .page6Img2 {
    position: fixed;
    width: 201.1vh;
    top: 104%;
}
